apiVersion: v1
data:
  ca.crt: {{ lookup('file', 'tls/tiller/ca.pem')|b64encode }}
  tls.crt: {{ lookup('file', 'tls/tiller/tiller-server.pem')|b64encode }}
  tls.key: {{ lookup('file', 'tls/tiller/tiller-server-key.pem')|b64encode }}
kind: Secret
metadata:
  labels:
    app: helm
    name: tiller
  name: tiller-secret
  namespace: nmaas
type: Opaque
