apiVersion: v1
kind: Service
metadata:
  labels:
    app: helm
    name: helm
  name: helm-deploy
  namespace: nmaas
spec:
  type: ClusterIP
  ports:
  - name: helm
    port: 22
    protocol: TCP
    targetPort: helm
  selector:
    app: helm
    name: helm
  sessionAffinity: None
status:
  loadBalancer: {}
