apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: helm
  name: helm-ssh-hostkeys
  namespace: nmaas
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Mi
