apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: helm
    name: helm
  name: helm-deploy
  namespace: nmaas
spec:
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: helm
        name: helm
    spec:
      serviceAccountName: nmaas-admin
      containers:
      - env:
        - name: SSH_USERS
          value: helm:1000:1000
        - name: TILLER_NAMESPACE
          value: nmaas
        - name: HELM_HOST
          value: tiller-deploy:44134
        image: docker.io/mbrekkevold/ssh-helm:latest
        imagePullPolicy: Always
        securityContext:
          capabilities:
            add:
              - SYS_CHROOT
        livenessProbe:
          tcpSocket:
            port: 22
          initialDelaySeconds: 5
          timeoutSeconds: 5
        name: helm
        ports:
        - containerPort: 22
          name: helm
        readinessProbe:
          tcpSocket:
            port: 22
          initialDelaySeconds: 5
          timeoutSeconds: 5
        resources: {}

        volumeMounts:
        - mountPath: /home/helm/certs
          name: helm-certs
          readOnly: true
        - mountPath: /etc/authorized_keys
          name: shared-data
          readOnly: false

      initContainers:
        # Init container to grab a copy of the helm user's authorized ssh keys
        # since sshd doesn't like it being a symlink
        - name: sshd-authorized-keys-init
          image: "alpine:3.8"
          command:
            - sh
            - -c
            - |
              cp /tmp/authorized_keys/id_rsa_helm.pub /etc/authorized_keys/helm
          volumeMounts:
            - name: helm-ssh-keys
              mountPath: /tmp/authorized_keys
              readOnly: true
            - name: shared-data
              mountPath: /etc/authorized_keys
              readOnly: false

      volumes:
      - name: shared-data
        emptyDir: {}

      - name: helm-certs
        secret:
          secretName: helm-certs

      - name: helm-ssh-keys
        secret:
          secretName: helm-ssh-keys
          defaultMode: 256
          items:
            - key: id_rsa_helm.pub
              path: id_rsa_helm.pub

status: {}
