apiVersion: v1
data:
  ca.pem: {{ lookup('file', 'tls/tiller/ca.pem')|b64encode }}
  cert.pem: {{ lookup('file', 'tls/tiller/helm-client.pem')|b64encode }}
  key.pem: {{ lookup('file', 'tls/tiller/helm-client-key.pem')|b64encode }}
kind: Secret
metadata:
  labels:
    app: helm
    name: helm
  name: helm-certs
  namespace: nmaas
type: Opaque
---
apiVersion: v1
data:
  id_rsa_helm: {{ lookup('file', 'tls/tiller/id_rsa_helm')|b64encode }}
  id_rsa_helm.pub: {{ lookup('file', 'tls/tiller/id_rsa_helm.pub')|b64encode }}
kind: Secret
metadata:
  labels:
    app: helm
    name: helm
  name: helm-ssh-keys
  namespace: nmaas
type: Opaque
